* {
    margin: 0;
    padding: 0;
  }

.navbar{
    background-color: #ef9ca4;
}

.tituloprin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a18093;
}

.cards{
    background-color: #dcf7f3;
    border: 2px solid white ;
}

.cardsContenedor{
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}


