* {
    margin: 0;
    padding: 0;
  }

.navbar{
    background-color: #ef9ca4;
}

.tituloprin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a18093;
}


